<a href="https://colab.research.google.com/github/GitwithRaj/Esatate/blob/master/MOBILE_PREDICT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Mobile phone price.csv to Mobile phone price.csv

In [2]:
import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['Mobile phone price.csv']))
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799
...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649

In [3]:
import pandas as pd
import numpy as np

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [5]:
X= df.iloc[:,0:7]

X['Brand'] = pd.factorize(X['Brand'])[0]
X['Model'] = pd.factorize(X['Model'])[0]

In [6]:

X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    int64
 1   Model                   407 non-null    int64
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
dtypes: int64(3), object(4)
memory usage: 22.4+ KB

In [7]:

X

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh)
0,0,0,128 GB,6 GB,6.1,12 + 12 + 12,3095
1,1,1,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000
2,2,2,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500
3,3,3,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020
4,4,4,128 GB,8 GB,6.4,50 + 12.2,4614
...,...,...,...,...,...,...,...
402,1,222,128,8,6.7,12+64+12,4300
403,3,236,128,6,6.57,48+8+2+2,4160
404,0,237,128,6,6.7,12+12+12,3687
405,5,238,128,8,6.4,48+13+8+2,4025
406,1,199,128,6,6.7,48+12+5,4500

In [8]:
for i in range(len(X['Storage '])):
    a=""
    s=X['Storage '][i]
    for j in range(len(s)):
        if(s[j]!=' ' and s[j]!='G'):
            a=a+s[j]
        else:
            break
    X['Storage '][i]=a
X['Storage ']

<ipython-input-8-f3d6e24bf4f8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Storage '][i]=a

0      128
1      256
2      128
3      128
4      128
      ...
402    128
403    128
404    128
405    128
406    128
Name: Storage , Length: 407, dtype: object

In [9]:
for i in range(len(X['RAM '])):
    a=""
    s=X['RAM '][i]
    for j in range(len(s)):
        if(s[j]!=' ' and s[j]!='G'):
            a=a+s[j]
        else:
            break
    X['RAM '][i]=a
X['RAM ']

<ipython-input-9-721fe70a2932>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['RAM '][i]=a

0       6
1      12
2       8
3       6
4       8
       ..
402     8
403     6
404     6
405     8
406     6
Name: RAM , Length: 407, dtype: object

In [12]:
for i in range(len(X['Camera (MP)'])):
    a=""
    s=X['Camera (MP)'][i]
    for j in range(len(s)):
        if(s[j]!='+' and s[j]!='M'):
            a=a+s[j]
        else:
            break
    X['Camera (MP)'][i]=a
X['Camera (MP)']

<ipython-input-12-3b60cd2535ab>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Camera (MP)'][i]=a

0       12
1      108
2       48
3       64
4       50
      ...
402     12
403     48
404     12
405     48
406     48
Name: Camera (MP), Length: 407, dtype: object

In [13]:

for i in range(len(X['Screen Size (inches)'])):
    a=""
    s=X['Screen Size (inches)'][i]
    for j in range(len(s)):
        if(s[j]!=' '):
            a=a+s[j]
        else:
            break
    X['Screen Size (inches)'][i]=a
X['Screen Size (inches)']

<ipython-input-13-a4edc7402ead>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Screen Size (inches)'][i]=a

0       6.1
1       6.8
2       6.7
3      6.67
4       6.4
       ...
402     6.7
403    6.57
404     6.7
405     6.4
406     6.7
Name: Screen Size (inches), Length: 407, dtype: object

In [16]:
X['Screen Size (inches)']=X['Screen Size (inches)'].astype(float)

X['Camera (MP)']=X['Camera (MP)'].astype(float)
X['Storage ']=X['Storage '].astype(float)
X['RAM ']=X['RAM '].astype(float)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    int64
 1   Model                   407 non-null    int64
 2   Storage                 407 non-null    float64
 3   RAM                     407 non-null    float64
 4   Screen Size (inches)    407 non-null    float64
 5   Camera (MP)             407 non-null    float64
 6   Battery Capacity (mAh)  407 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 22.4 KB

In [17]:
Y=df.iloc[:,7:8]
Y

    Price ($)
0         999
1        1199
2         899
3         279
4         799
..        ...
402      1049
403       349
404      1099
405       429
406       649

[407 rows x 1 columns]

In [52]:
import numpy as np
import matplotlib.pyplot as mtp  
import pandas as pd  
  
  
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.45, random_state=0)  
  
# feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)

In [53]:
from sklearn.tree import DecisionTreeClassifier  
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [54]:
y_pred= classifier.predict(x_test)

In [55]:
type(y_pred)

numpy.ndarray

In [56]:
y_test=np.array(y_test)

In [57]:
y_pred=np.array(y_pred)
y_pred

array(['$99 ', '$199 ', '729', '$249 ', '$189 ', '699', '$329 ', '$149 ',
       '$159 ', '1049', '1199', '130', '799', '299', '$369 ', '$149 ',
       '449', '249', '449', '$139 ', '$199 ', '199', '399', '$279 ',
       '$299 ', '$339 ', '$549 ', '499', '729', '399', '$149 ', '1199',
       '$299 ', '749', '399', '$149 ', '299', '$279 ', '279', '$469 ',
       '$149 ', '399', '329', '249', '999', '$329 ', '799', '$299 ',
       '$449 ', '$229 ', '$199 ', '349', '499', '1099', '399', '$139 ',
       '$159 ', '599', '1099', '$199 ', '$399 ', '130', '699', '799',
       '449', '$699 ', '299', '279', '$179 ', '$239 ', '$799 ', '$199 ',
       '649', '$329 ', '$249 ', '$269 ', '499', '$199 ', '$199 ', '$699 ',
       '499', '$339 ', '$239 ', '$159 ', '$999 ', '$279 ', '249', '$349 ',
       '$249 ', '159', '199', '189', '130', '$179 ', '349', '799',
       '$269 ', '$299 ', '199', '729', '399', '$299 ', '130', '$149 ',
       '$249 ', '$549 ', '$149 ', '1099', '$299 ', '189', '$279 ', '399',
       '899', '$899 ', '$109 ', '$179 ', '$109 ', '$279 ', '$449 ',
       '$249 ', '$899 ', '279', '$279 ', '$239 ', '$239 ', '$249 ',
       '$189 ', '$249 ', '299', '279', '449', '$99 ', '$699 ', '$279 ',
       '$179 ', '$399 ', '$179 ', '$249 ', '$139 ', '$799 ', '$149 ',
       '$179 ', '$269 ', '699', '$249 ', '279', '$139 ', '279', '969',
       '$469 ', '$179 ', '$179 ', '$199 ', '799', '$249 ', '179', '$449 ',
       '699', '$279 ', '$249 ', '369', '$469 ', '179', '$129 ', '$469 ',
       '$229 ', '279', '$449 ', '$249 ', '$239 ', '$249 ', '$999 ',
       '$179 ', '279', '$269 ', '$199 ', '$449 ', '449', '799', '$199 ',
       '699', '799', '$369 ', '399'], dtype=object)

In [58]:
y_test=np.array(y_test)
type(y_test)
y_test[0]

array(['$99 '], dtype=object)

y_test

In [59]:
y_test=y_test.flatten()

In [60]:
#classifier.score(y_test,y_pred)
for i in range(len(y_test)):
    a=""
    s=y_test[i]
    for j in range(len(s)):
        if(s[j]!='$' and s[j]!=','):
            a=a+s[j]
    y_test[i]=a
y_test

array(['99 ', '179 ', '659', '289 ', '199 ', '499', '329 ', '139 ',
       '149 ', '999 ', '999', '149 ', '999', '399', '329', '149 ', '449',
       '219 ', '399', '399 ', '219 ', '229', '599', '299 ', '199', '279 ',
       '549 ', '499', '329', '349', '149 ', '1399', '199 ', '599', '399',
       '139', '449', '399 ', '229', '459', '149 ', '249', '279', '179 ',
       '999', '1199', '749', '199', '429', '229 ', '189 ', '329', '699',
       '1399', '229', '699 ', '149 ', '299', '1099', '169', '329', '139',
       '699', '799 ', '399', '799', '599', '329 ', '179', '249 ', '799',
       '219 ', '649', '319 ', '249', '249', '499', '179', '139', '1199',
       '599', '319 ', '219 ', '159', '799', '239', '239', '499 ', '279 ',
       '179 ', '229 ', '199 ', '119', '279', '329', '799', '269 ', '309 ',
       '199', '699', '329', '249 ', '139 ', '149 ', '179 ', '449 ',
       '139 ', '699', '269', '169 ', '199 ', '399', '699', '329 ', '99 ',
       '179', '99 ', '229 ', '279 ', '169 ', '899 ', '329 ', '279',
       '209 ', '279 ', '179', '179', '199 ', '299', '319 ', '449 ', '99 ',
       '849 ', '249 ', '219 ', '359', '279 ', '179', '299 ', '799',
       '119 ', '279', '199', '699', '249 ', '449', '399 ', '249 ', '969 ',
       '399 ', '199 ', '179', '179 ', '999', '199 ', '149', '999 ', '749',
       '399 ', '159 ', '399 ', '499 ', '229', '279 ', '449 ', '259',
       '329', '499 ', '279', '219 ', '249 ', '699 ', '199', '449 ',
       '299 ', '149 ', '299 ', '449', '1099', '149 ', '699 ', '899',
       '369', '419'], dtype=object)

In [61]:
for i in range(len(y_pred)):
    a=""
    s=y_pred[i]
    for j in range(len(s)):
        if(s[j]!='$' and s[j]!=','):
            a=a+s[j]
    y_pred[i]=a
y_pred

array(['99 ', '199 ', '729', '249 ', '189 ', '699', '329 ', '149 ',
       '159 ', '1049', '1199', '130', '799', '299', '369 ', '149 ', '449',
       '249', '449', '139 ', '199 ', '199', '399', '279 ', '299 ', '339 ',
       '549 ', '499', '729', '399', '149 ', '1199', '299 ', '749', '399',
       '149 ', '299', '279 ', '279', '469 ', '149 ', '399', '329', '249',
       '999', '329 ', '799', '299 ', '449 ', '229 ', '199 ', '349', '499',
       '1099', '399', '139 ', '159 ', '599', '1099', '199 ', '399 ',
       '130', '699', '799', '449', '699 ', '299', '279', '179 ', '239 ',
       '799 ', '199 ', '649', '329 ', '249 ', '269 ', '499', '199 ',
       '199 ', '699 ', '499', '339 ', '239 ', '159 ', '999 ', '279 ',
       '249', '349 ', '249 ', '159', '199', '189', '130', '179 ', '349',
       '799', '269 ', '299 ', '199', '729', '399', '299 ', '130', '149 ',
       '249 ', '549 ', '149 ', '1099', '299 ', '189', '279 ', '399',
       '899', '899 ', '109 ', '179 ', '109 ', '279 ', '449 ', '249 ',
       '899 ', '279', '279 ', '239 ', '239 ', '249 ', '189 ', '249 ',
       '299', '279', '449', '99 ', '699 ', '279 ', '179 ', '399 ', '179 ',
       '249 ', '139 ', '799 ', '149 ', '179 ', '269 ', '699', '249 ',
       '279', '139 ', '279', '969', '469 ', '179 ', '179 ', '199 ', '799',
       '249 ', '179', '449 ', '699', '279 ', '249 ', '369', '469 ', '179',
       '129 ', '469 ', '229 ', '279', '449 ', '249 ', '239 ', '249 ',
       '999 ', '179 ', '279', '269 ', '199 ', '449 ', '449', '799',
       '199 ', '699', '799', '369 ', '399'], dtype=object)

In [62]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7248925279101981